<main class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel" aria-labelledby="v-pills-dashboard-tab" tabindex="0">Dashboard</div>
    <div class="tab-pane fade" id="v-pills-machines" role="tabpanel" aria-labelledby="v-pills-machines-tab" tabindex="0">Machines</div>
    <div class="tab-pane fade" id="v-pills-products" role="tabpanel" aria-labelledby="v-pills-products-tab" tabindex="0">Products</div>
    <div class="tab-pane fade" id="v-pills-reports" role="tabpanel" aria-labelledby="v-pills-reports-tab" tabindex="0">Reports</div>
</main>
