@page
@model WebApp.Pages.VendingMachinePages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}


<div class="container row vh-100">
    <div class="col-2 align-items-start">
        <partial name="_LeftMenuPartial" />
    </div>
    <div class="col-10">
        <partial name="_MainContentPartial" />
    </div>
</div>
