<div class="toast bg-danger bg-gradient bg-opacity-75 text-white border-dark position-absolute top-50 start-50 translate-middle" id="toastwarningsellpartial" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-danger text-white border-dark">
        <strong class="mx-auto fs-5">@Model.Error[0]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-center fw-bold">
        @Model.Error[1]
    </div>
</div>