@page
@model WebApp.Pages.MachinePages.CreateModel
@{
    ViewData["Title"] = "Create Machine";
}

<h1>Create</h1>
<h4>Machine</h4>
<hr />

<div class="row">
    <div class="col-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-4">
                <input asp-for="FormMachine.MachineName" class="form-control" />
                <label asp-for="FormMachine.MachineName"></label>                
                <span asp-validation-for="FormMachine.MachineName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4">
                <input asp-for="FormMachine.MachineBalance" class="form-control" />
                <label asp-for="FormMachine.MachineBalance"></label>                
                <span asp-validation-for="FormMachine.MachineBalance" class="text-danger"></span>
            </div>
@*            <div class="input-group">
                <label asp-for="Machine.MachineProductList" class="form-label"></label>
                <input asp-for="Machine.MachineProductList" class="form-control" />
                <span asp-validation-for="Machine.MachineProductList" class="text-danger"></span>
            </div>*@
            <div class="input-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}