@page
@model WebApp.Pages.MachinePages.CreateModel
@{
    ViewData["Title"] = "Create Machine";
}

<h1>Create</h1>
<h4>Machine</h4>
<hr />

<div class="row">
    <div class="col-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-4">
                <input asp-for="FormMachine.MachineName" class="form-control" />
                <label asp-for="FormMachine.MachineName"></label>                
                <span asp-validation-for="FormMachine.MachineName" class="text-danger"></span>
            </div>
        @for (int i = 0; i < @Model.ProductCount; i++)
        {   
            <div class="row">
                <div class="form-floating mb-4 col">
                    <input asp-for="FormMachine.MachineProductList[i].ProductName" class="form-control" />
                    <label asp-for="FormMachine.MachineProductList[i].ProductName"></label>                
                    <span asp-validation-for="FormMachine.MachineProductList[i].ProductName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4 col">
                    <input asp-for="FormMachine.MachineProductList[i].ProductPrice" class="form-control" />
                    <label asp-for="FormMachine.MachineProductList[i].ProductPrice"></label>                
                    <span asp-validation-for="FormMachine.MachineProductList[i].ProductPrice" class="text-danger"></span>
                </div>
                <div class="form-floating mb-4 col">
                    <input asp-for="FormMachine.MachineProductList[i].ProductQuantity" class="form-control" />
                    <label asp-for="FormMachine.MachineProductList[i].ProductQuantity"></label>                
                    <span asp-validation-for="FormMachine.MachineProductList[i].ProductQuantity" class="text-danger"></span>
                </div>
            </div>
        }
            <div class="input-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/MachinePages/List">Back to List</a>
</div>

@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
}