@page "{Id:Guid}"
@model WebApp.Pages.MachinePages.UpdateModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Machine</h4>
<hr />

<div class="container">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table table-striped table-bordered table-hover w-auto">
                <thead>
                    <tr>
                        <th scope="col">Machine Name</th>
                        <th scope="col">Machine Balance</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    <tr>
                        <input type="hidden" asp-for="FormMachine.MachineId" class="form-control" />
                        <td>
                            <div class="input-group">
                                <input asp-for="FormMachine.MachineName" class="form-control" />
                                <span asp-validation-for="FormMachine.MachineName" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input asp-for="FormMachine.MachineBalance" class="form-control" />
                                <span asp-validation-for="FormMachine.MachineBalance" class="text-danger"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table class="table table-striped table-bordered w-auto table-hover caption-top">
                                <caption class="text-center w-auto fs-6 fw-bold">Product List</caption>
                                <thead>
                                    <tr>
                                        <th class="col">Product Name</th>
                                        <th class="col">Product Price</th>
                                        <th class="col">Product Quantity</th>
                                        <th class="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.FormMachine.MachineProductList.Count; i++)
                                    {
                                    <tr>
                                        <input type="hidden" asp-for="FormMachine.MachineProductList[i].ProductId" class="form-control" />
                                        <td>
                                            <div class="input-group">
                                                <input asp-for="FormMachine.MachineProductList[i].ProductName" class="form-control" />
                                                <span asp-validation-for="FormMachine.MachineProductList[i].ProductName" class="text-danger"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <input asp-for="FormMachine.MachineProductList[i].ProductPrice" class="form-control" />
                                            <span asp-validation-for="FormMachine.MachineProductList[i].ProductPrice" class="text-danger"></span>
                                        </td>
                                        <td>
                                            <input asp-for="FormMachine.MachineProductList[i].ProductQuantity" class="form-control" />
                                            <span asp-validation-for="FormMachine.MachineProductList[i].ProductQuantity" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="input-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/MachinePages/List">Back to List</a>
</div>